* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: black;
    color: white;
    text-align: center;
    font-family: sans-serif;
}

#container {
    margin-top: 100px;
    width: 80%;
    max-width: 400px;
    margin-inline: auto;
}

h1 {
    margin-top: 40px;
    margin-bottom: 10px;
    opacity: 0.9;
}

p {
    margin-bottom: 40px;
    opacity: 0.7;
}


input, button {
    display: block;
    width: 100%;

    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
}

input {
    margin-bottom: 20px;
}


button {
    border: none;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    transition: 1s ease;
}

button:hover {
    filter: brightness(1.2);
    background-color: #3e0054;
}


#resposta {
    margin-top: 30px;
    transition: opacity 2s;
}

#resposta div {
    font-size: 16px;
    font-weight: normal;
    opacity: 0.9;
    margin-bottom: 10px;
}
